* {
  box-sizing: border-box;
}

#title {
  text-align: center;
}
#description {
  text-align: center;
  font-size: 20px;
  line-height: 0;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  background-color: #6869a4;
  color: #f4f4f4f4;
}
form {
  display: block;
  margin-top: 0em;
  width: 45%;
  margin: auto;
  background: #282847;
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

#name-label,
#email-label,
#number-label {
  padding: 3px;
  margin: 3px;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}
.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}
textarea {
  resize: none;
}
.submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: green;
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}
button {
  border: none;
}
.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (min-width: 480px) {
  form {
    padding: 2.5rem;
  }
}
